<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #login="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user.username"
               class="form-control" id="username" name="username"
               required #username="ngModel">
        <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password"
               class="form-control" id="password" name="password"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-info">Login</button>
      <button type="button" (click)="onRegister()" class="btn btn-secondary">Register</button>
    </form>
  </div>
</div>
